NEXT_PUBLIC_SUPABASE_URL="https://ahulbnmhoopsbwwnikyp.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFodWxibm1ob29wc2J3d25pa3lwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNDcwMTksImV4cCI6MjA4ODgyMzAxOX0.kgv5qVBRqb4iMbMjyV7_5FdxSixW2M6RKwRFZXv3Z1o"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SUPABASE_PROJECT_REF="ahulbnmhoopsbwwnikyp"
SUPABASE_ACCESS_TOKEN="sbp_f2b0c696b13db6a67c7e58a43afe34a3627205ca"
OPENROUTESERVICE_API_KEY="eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjFlMmNkOGQ2MzM2NTQxZDNiYThlM2JlODQwMWQ4NmE5IiwiaCI6Im11cm11cjY0In0="
NOMINATIM_CONTACT_EMAIL="utsav.katharotiya@bacancy.com"
